<div class="card_wrapper fcl_w ta_c">
    <div class="header">
        <a href="#!">
            <img alt="" class="info" src="assets/img/back.png">
            
        </a>
        <div class="plus fvh3_6">
            PLUS membership
        </div>
        <div class="l">
        </div>
    </div>
    <div class="content_card">
        <p class="about_plus fvh2_4">
            Everything and even more with PLUS membership.
            <br>
                One time $5 purchase for endless subscription.
            </br>
        </p>
        <div class="cover atvImg">
            <div class="img img1" ng-class="{'active_card':taskfilters == 1}" ng-click="taskfilters = 1">
            </div>
            <div class="img img2" ng-class="{'active_card':taskfilters == 2}" ng-click="taskfilters = 2">
            </div>
            <div class="img img3" ng-class="{'active_card':taskfilters == 3}" ng-click="taskfilters = 3">
            </div>
            <div class="active_card_wrapper" ng-click="taskfilters = null" ng-show="taskfilters == 2 || taskfilters == 1 || taskfilters == 3">
                <div class="close" ng-click="taskfilters = null">
                    <svg class="" enable-background="new 0 0 64 64" height="512px" version="1.1" viewbox="0 0 64 64" width="512px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g>
                            <g>
                                <path class="active-path" d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z" data-old_color="#FCFCFC" data-original="#1D1D1B" fill="#666666">
                                </path>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <div class="null">
        </div>
        <div class="wave_img3 bwave">
        </div>
        <div class="wave_img1 mwave">
        </div>
        <div class="wave_img2 twave">
        </div>
        <div class="wave_img3 reverse twave">
        </div>
        <div class="wave_img1 reverse mwave">
        </div>
        <div class="wave_img2 reverse bwave">
        </div>
        <p class="about_plus2 fvh2_4" ng-class="{'z_index':taskfilters == 2 || taskfilters == 1 || taskfilters == 3}">
            Double maximum daily speed, unlock advanced
            <br>
                filters and add unlimited number of tasks.
            </br>
        </p>
        <p class="about_plus3 fvh2_4" ng-class="{'z_index':taskfilters == 2 || taskfilters == 1 || taskfilters == 3}">
            *Subscription is valid only on @martyankaa account
        </p>
        <div class="wave_img footer_wave">
        </div>
        <div class="wave_back_gradient">
        </div>
    </div>
</div>
