<div class="card_wrapper fcl_w ta_c r">
    <div class="header">
        <a ng-click="goBack()">
            <img alt="" class="info" src="assets/img/back.png">
            
        </a>
        <div class="plus fvh3_6 gradient_purple">
            PLUS membership
        </div>
        <div class="l">
        </div>
    </div>
    <div class="content_card">
        <p class="about_plus fvh2_4 l_s0">
            Everything and even more with PLUS membership.
            <br>
                One time $5 purchase for endless subscription.
        </p>
        <div class="cover_wrapper F_RCC">
        <div class="cover atvImg">
            <div class="img card img1" ng-class="{'active_card':taskfilters == 1}" ng-click="taskfilters = 1">
            </div>

            <div class="active_card_wrapper" ng-click="taskfilters = null" ng-show="taskfilters == 2 || taskfilters == 1 || taskfilters == 3">
                <div class="close" ng-click="taskfilters = null">
                    <div class="close_img"></div>
                </div>
            </div>
        </div>
</div>
        <div class="null">
        </div>
        <div class="wave_img3 bwave">
        </div>
        <div class="wave_img1 mwave">
        </div>
        <div class="wave_img2 twave">
        </div>
        <div class="wave_img3 reverse twave">
        </div>
        <div class="wave_img1 reverse mwave">
        </div>
        <div class="wave_img2 reverse bwave">
        </div>
        <p class="about_plus2 fvh2_4 l_s0" ng-class="{'z_index':taskfilters == 2 || taskfilters == 1 || taskfilters == 3}">
            Double maximum daily speed, unlock advanced
            <br>
                filters and add unlimited number of tasks.
        </p>
        <p class="about_plus3 fvh2_4 l_s0" ng-class="{'z_index':taskfilters == 2 || taskfilters == 1 || taskfilters == 3}">
            *Subscription is valid only on @martyankaa account
        </p>
        <div class="wave_img footer_wave">
        </div>
        <div class="wave_back_gradient">
        </div>
    </div>
</div>
