<div class="card_wrapper fcl_w ta_c">
 <div class="header">
            <a href="#!">
                <img alt="" class="info" src="assets/img/back.png">
              
            </a>
            <div class="plus fvh3_6">PLUS membership</div><div class="l"></div>
        </div>
<div class="content_card">
<p class="about_plus fvh2_4">Everything and even more with PLUS membership. <br>
One time $5 purchase for endless subscription.
</p>
 <div class="cover  atvImg">
    <div ng-class="{'active_card':taskfilters == 1}" ng-click="taskfilters = 1" class="img img1"></div>
    <div ng-class="{'active_card':taskfilters == 2}" ng-click="taskfilters = 2" class="img img2"></div>
    <div ng-class="{'active_card':taskfilters == 3}" ng-click="taskfilters = 3" class="img img3"></div>
       <div ng-show="taskfilters == 2 || taskfilters == 1 || taskfilters == 3" ng-click="taskfilters = null" class="active_card_wrapper">
           <div class="close" ng-click="taskfilters = null"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="512px" version="1.1" height="512px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" class=""><g><g>
    <path fill="#666666" d="M28.941,31.786L0.613,60.114c-0.787,0.787-0.787,2.062,0,2.849c0.393,0.394,0.909,0.59,1.424,0.59   c0.516,0,1.031-0.196,1.424-0.59l28.541-28.541l28.541,28.541c0.394,0.394,0.909,0.59,1.424,0.59c0.515,0,1.031-0.196,1.424-0.59   c0.787-0.787,0.787-2.062,0-2.849L35.064,31.786L63.41,3.438c0.787-0.787,0.787-2.062,0-2.849c-0.787-0.786-2.062-0.786-2.848,0   L32.003,29.15L3.441,0.59c-0.787-0.786-2.061-0.786-2.848,0c-0.787,0.787-0.787,2.062,0,2.849L28.941,31.786z" data-original="#1D1D1B" class="active-path" data-old_color="#FCFCFC"/>
  </g></g> </svg></div>
       </div>
        
</div>
       
 
<div class="null"></div>

<div class="wawes_1">
<img alt="wave1" class="wave_img bwave" src="assets/img/wave1.png">
<img alt="wave2" class="wave_img mwave" src="assets/img/wave2.png"/>
<img alt="wave3" class="wave_img twave" src="assets/img/wave3.png"/>
</div>
<div class="wawes_2">
<img alt="wave1" class="wave_img bwave reverse" src="assets/img/wave1.png">
<img alt="wave2" class="wave_img mwave reverse" src="assets/img/wave2.png"/>
<img alt="wave3" class="wave_img twave reverse" src="assets/img/wave3.png"/>
</div>
<p  ng-class="{'z_index':taskfilters == 2 || taskfilters == 1 || taskfilters == 3}"  class="about_plus2 fvh2_4">Double maximum daily speed, unlock advanced <br>
 filters and add unlimited number of tasks.
</p>

   <p class="about_plus3 fvh2_4" ng-class="{'z_index':taskfilters == 2 || taskfilters == 1 || taskfilters == 3}">

*Subscription is valid only on @martyankaa account
</p>


<img alt="wave3" class="wave_img  twave footer_wave" src="assets/img/wave3.png"/>
<div class="wave_back_gradient">
    
</div>
</div>