<div class="edit_wrapper r" ng-controller="editCtrl" ng-class="{'content':header_show}">
  <div class="opa">
    <div class="flex r">

      <!-- {{newTask.isEnabled}} -->
      <div class="F_RAC pad10">
        <h2 class="w70  fcl_w fvh2_4 " id="filter">Filter:</h2>
        <div class="onoffswitch">
          <input ng-checked="newTask.isEnabled" class="onoffswitch-checkbox" id="myonoffswitch" name="onoffswitch" type="checkbox">
          <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner">
            </span>
            <span class="onoffswitch-switch">
            </span>
          </label>
        </div>
      </div>
      <div class="select F_RSC fvh3_6" ng-click="options_val = !options_val; selected1 = !selected1">
        <div class="F_RCC">
          {{selected_option[1]}}
        </div>
        <div class="options " ng-show="options_val">
          <a ng-repeat="x in app.filters" class=" pad5">
            <span ng-click="newTask.type = app.filters[$index][0]; selected($index)" class="fvh3_6  F_RSCNW" title="{{app.filters[$index][1]}}">
              {{app.filters[$index][1]}}
            </span>
          </a>
        </div>
        <div class="select_arrow ">
          <img alt="arrow" class="arrow_img" ng-class="{'arrow_img_reverse':selected1 == true}" src="assets/img/arrow.png">
        </div>
      </div>
      <div class="add_btn F_RAC mar10  fcl_w" ng-if="app.alerts.showError2">
        <span ng-click="app.alerts.goProPopup = true" class="fvh2_4">Only
          <span ng-click="goTo('card')" class="purple_cl fvh2_4">PLUS member</span>
          is able to add
        </span>
        <div class="close_img" ng-click="ap.showError2 = false;">
        </div>
      </div>
      <div class="task_filter  w95" ng-if="(newTask.type == 'hashtag' || newTask.type == 'location')">
        <div class="scroll-wrapper scrollbar-inner" style="position: relative;">
          <div class="scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 250px;">
            <textarea  maxlength="{{ta_maxLength}}"  id="edit_hash" cols="30" rows="10" class="fcl_w " ng-if="newTask.type == 'hashtag'"
              placeholder="#love #instagood #me #cute #tbt #photooftheday #instamood #iphonesia #tweegram #picoftheday #igers #girl #beautiful #instadaily #summer #instagramhub #iphoneonly #follow #igdaily" ng-model="newTask.textarea"></textarea>
            <textarea  id="edit_hash" cols="30" rows="10" class="fcl_w " ng-if="newTask.type == 'location'" placeholder="New York; London; Brazil; Ukraine; Los Angeles; United Kingdom" ng-model="newTask.textarea"></textarea>
          </div>
        </div>
      </div>
      <span ng-class="{'red_scale':red}" ng-hide="newTask.textarea.length > ta_minLength || newTask.textarea.length == ta_minLength " class="fcl_w f min_char">Characters left to min: {{ta_minLength - newTask.textarea.length}}</span>
      <span  ng-hide="newTask.textarea.length < ta_minLength || newTask.textarea.length == undefined || no" class="fcl_w f max_char">Characters left: {{ta_maxLength - newTask.textarea.length}}</span>
<!--    ng-click="red = !red" запхай той клік коли не можна нажати save-->
      <div class="footer" ng-click="red = !red">
        <div class="buttons_group F_RCC" >
          <div class="w40 ta_c  mart15  fvh3_6 fcl_w " ng-class="{'btn_pulse_n_active': ta_minLength > newTask.textarea.length || newTask.textarea.length == undefined || newTask.textarea.length == ta_minLength , 'btn_pulse_bg_wave':newTask.textarea.length > ta_minLength || newTask.textarea.length == ta_minLength}"  ng-click="saveTask()">
            Save
          </div>
        </div>
      </div>
