<div class="edit_wrapper" ng-controller="editCtrl">
    <div class="header_wrapper">
        <div class="header">
            <a ng-click="goBack()">
                <img alt="" class="info " src="assets/img/back.png">

            </a>
            <div class="onoffswitch">
                <input ng-model="newTask.isEnabled" class="onoffswitch-checkbox" id="myonoffswitch" name="onoffswitch" type="checkbox">
                    <label class="onoffswitch-label" for="myonoffswitch">
                        <span class="onoffswitch-inner">
                        </span>
                        <span class="onoffswitch-switch">
                        </span>
                    </label>

            </div>
        </div>
        <div class="mar5 flex">
            <h2 class="fvh4_8 fcl_w F_RCC">
                <div class="dot mar5">
                </div>
                New Task Creation
            </h2>
        </div>
    </div>
    <div class="progress">
        <div class="progress_bar" style="width: 100%; height: 100%">
        </div>
    </div>
    <div class="content">
        <div class="flex">


    <h2  class="w70 mart15 fcl_w fvh2_4 " id="filter" >Filter:</h2>
    <div class="select   fvh3_6" ng-click="options_val = !options_val; selected1 = !selected1">
        {{selected_option[1]}}
        <div class="options " ng-show="options_val">
            <a ng-repeat="x in select_names" >
                <span ng-click="newTask.type = select_names[$index][0]; selected($index)" class="fvh3_6" title="{{select_names[$index][1]}}">
                {{select_names[$index][1]}}
                 </span>
            </a>
        </div>
        <div class="select_arrow " >
            <img alt="ellipse1" class="ellipse_img" ng-class="{'ellipse_img_selected':selected1 == true}" src="assets/img/ellipse1.png">
                <img alt="ellipse2" class="ellipse2_img" src="assets/img/ellipse2.png">
                    <img alt="arrow" class="arrow_img" ng-class="{'arrow_img_reverse':selected1 == true}" src="assets/img/arrow.png">



        </div>
    </div>

<div class="task_filter  w80" ng-if="(newTask.type == 'hashtag' || newTask.type == 'location')">
    <div class="scroll-wrapper scrollbar-inner" style="position: relative;"><div class="scrollbar-inner scroll-content scroll-scrolly_visible" style="height: auto; margin-bottom: 0px; margin-right: 0px; max-height: 250px;">

    <div class="status_dot" ng-class="active_dot"></div>
        <textarea  id="edit_hash" cols="30" rows="10" class="fcl_w " ng-if="newTask.type == 'hashtag'" placeholder="#love #instagood #me #cute #tbt #photooftheday #instamood #iphonesia #tweegram #picoftheday #igers #girl #beautiful #instadaily #summer #instagramhub #iphoneonly #follow #igdaily" ng-model="newTask.textarea"></textarea>
        <textarea id="edit_hash" cols="30" rows="10" class="fcl_w " ng-if="newTask.type == 'location'" placeholder="New York; London; Brazil; Ukraine; Los Angeles; United Kingdom" ng-model="newTask.textarea"></textarea>
        <!-- <textarea class="fcl_w"  name="hash" id="edit_hash" cols="30" rows="10" placeholder=""></textarea> -->
</div>
</div>
<img alt="points" class="points_img" src="assets/img/points.jpg" width="100%">
</div>
    <div class="footer">
        <div class="buttons_group F_RCC">
            <div class="w40 ta_c btn_pulse_bg_wave mart15  fvh3_6 fcl_w txta_c" ng-click="save()">
                Save
            </div>
        </div>
    </div>
