<div class="page r w100" ng-controller="homeCtrl">
  <div class="header_wrapper">
    <div class="header">
      <a href="#!logo">
        <img alt="" class="info acc_photo" ng-src="{{data.user.pic}}">
      </a>
      <div class="logo_wrapper r">
        <img alt="logo" class="logo_img" src="assets/img/logo.png">
        <!-- <div id="heart"></div>   -->

      </div>
      <div ng-click="drop = !drop" class="r">
        <div class="F_CCC info_button">
          <div ng-repeat="x in [0,1,2]" class="dot_info" ng-class="{'dot_line': drop}"></div>
        </div>
        <div class="dropdown" ng-hide="!drop">
          <ul class="list_n  fvh2_4">
            <li ng-click="goTo('info')" class="fcl_w fvh3_6 pad5">Info</li>
            <li ng-click="goTo('settings')" class="fcl_w fvh3_6 pad5">Settings</li>
            <li ng-click="goTo('about')" class="fcl_w fvh3_6 pad5">About us</li>
          </ul>
        </div>
      </div>
      <div ng-hide="data.feed.length == 500" ng-click="app.alerts.goProPopup = true" class="ring_wrapper  gradient_purple F_CCC r" ng-class="{'was_liked':data.feed.length == 500}">
      <div class="ring" ng-class="{'help':data.feed.length < 500}"></div>
      </div>
    </div>
  </div>
  <div class="progress">
    <div class="a w100 z1 h100 F_RCC fcl_w fvh2_4 ta_c o_h ">
      Likes made today: <div class="r in_block"><span ng-class="{true:'translate25px', false:'translate0px' }[liked == liked1%2*liked1]" class="number_animation F_CCC">{{data.feed.length}}</span></div> of {{data.user.limitTo}}
    </div>
    <div class="progress_bar F_CCC" style="width:{{data.feed.length/(data.user.limitTo/5)*100/5}}%; height: 100%">
      <div class="progress_bar_animation ">
      </div>
    </div>
  </div>
  <div class="index_wrapper padb70 F_RBS">
    <div class="status_wrapper">
      <div class="status pad10">
        <div class=" w70 r fcl_w fvh1_5_3 ta_c" ng-class="{'was_liked':status = 'sleeping'}">
          {{data.status}}
        </div>

      </div>
      <div class="flex">
        <!-- <a class="getpro_wrapper mar10 marb30" href="#!card">
          <div class="getpro gradient_purple fcl_w pad15 ">
            <div class="wave_bg"></div>
            <img alt="" class="stars_pro" src="assets/img/stars.png">
            <img alt="" class="cup_pro" src="assets/img/cup.png">
            <div class="wawe_bg">
            </div>
          </div>
          <span class="pro_go pulse">
            GO PRO
          </span>
        </a> -->

        <div class="home_lessons_wrapper r w100">
          <div class="lessons_dot_counter  F_RCC   w50">
            <a  ng-click="select($index);" ng-repeat="x in less_preview">
              <div ng-class="{'active_dot': scrolled == $index}" class="dot_info   mar5"></div>
            </a>
          </div>

          <div class="F_RSCNW homex_scrool boxscroll scrollbox do-nicescroll4 r">
            <div class="wrap r">

              <div class="home_lessons scroll_inset r F_CCC" ng-repeat="x in less_preview" >
                <div class="div_less_preview  F_CCC" style="background-image: url(assets/img/lessons/less{{$index+1}}_preview.png)">
                  <!-- <div  ng-click="$index = !$index" class="plus_less"  ng-class="{'plus_less2': a == true}">
                    <div class="hori a" ng-class="{'hori_r': $index == true}"></div>
                    <div class="vert a" ng-class="{'vert_r': $index == true}"></div>
                  </div> -->
                  <span class="fvh1_5_3 home_less_cout ta_c mar20 marb5 fcl_w">{{$index+1}}/{{less_preview.length}} ideas</span>
                </div>
                <div class="F_RAC w100 mart15">
                  <h1  class="fcl_w fvh2_4">Idea #{{$index+1}}</h1>
                  <div  ng-click="data.user.isMember && scrolled == 1?goTo('lessons'):app.alerts.goProPopup = true" class="btn_pulse_bg_wave w30m0 ta_c">Open</div>
                </div>
              </div>
              </div>
            </div>
        </div>
        <div class="task_wrapper ">
          <div class="tasc_block" ng-repeat="i in data.tasks">
            <div class="edit_task">
              <label for="s1" class="edit_wrapper F_CAC">
                <div class="{{i.type}}"></div>
                <div class="onoffswitch">
                  <input class="onoffswitch-checkbox" id="s1" name="onoffswitch" ng-model="i.isEnabled" type="checkbox">
                  <label class="onoffswitch-label" for="s1">
                    <span class="onoffswitch-inner">
                    </span>
                    <span class="onoffswitch-switch">
                    </span>
                  </label>

                </div>
              </label>
            </div>
            <a ng-click="taskFunc($index)">
              <div class="info_task fcl_w">
                <h2 class="fvh2_4 pad10 padb0">
                  {{i.type}}
                </h2>
                <p class="fvh1_5_3 ta_l pad10 nls padt5">
                  <span class="tov_el">{{i.textarea}}</span>
                  <br>
                  <span>
                    advanced settings:pro version only
                  </span>
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="add_btn F_RAC mar10  fcl_w" ng-show="app.alerts.showError1">
      <span class="fvh2_4" ng-click="app.alerts.goProPopup = true">Only
        <span class="purple_cl fvh2_4">PLUS member</span>
        is able to add
      </span>
      <div class="close_img" ng-click="app.alerts.showError1=!1">
      </div>
    </div>
    <a ng-click="(data.tasks.length > 0 && !data.user.isMember)?app.alerts.showError1 = true:taskFunc('add')">
      <div class="add_btn  F_RCC mar10 mart0 ">
        <img alt="" class="info ico_plus" src="assets/img/plus.png">
        <span class="fcl_w fvh2_4 marl10">
          ADD TASK
        </span>
      </div>
    </a>
    <div class="bottom_liked pad5  r F_RSCNW boxs">
      <div class="wave_bg" style="pointer-events: none;">
      </div>
      <div class="firs_like_wrapper  F_CCC">
        <div ng-click="goTo('liked')" class="firs_like ">
        </div>
      </div>
      <a ng-repeat="x in data.feed | reverse | limitTo : 5" href="https://www.instagram.com/p/{{x.shortcode}}/" target="_blank" class="l_b_p marr7" style="transition: 0s;">
        <img ng-src="{{x.display_url}}" alt="">
      </a>
      <!-- IF no liked photos -->
      <div ng-if="data.feed.length == 0" class="no_photos F_CSS pad5 r">
        <h2 class="fvh3_6 fcl_w pad5 padb0">NO PHOTOS</h2>
        <p class="fvh2_4 pad5">No publications at this time</p>
        <div class="no_photos_img a"></div>
      </div>
    </div>
  </div>
