
<div class="list_wrapper h100vh  F_CBC  fcl_w"  ng-class="{'h200vh':readmore == !readmore,'content':header_show}"  ng-controller="homeCtrl">


	<div class="boxscroll homex_scrool lessons_title_scroll scrollbox  w100 do-nicescroll4 "  >
		<div class="wrap less_mazafaka F_RSCNW transition w100 ">
			<div class="lesson_container scroll_inset transition pad20 F_CCC w100"  ng-class="{'h20vh':readmore}" ng-repeat="x in less_preview">

			<div class="wrapper_previev" ng-hide="readmore"><div class="lesson_img_wrapper transition ta_c">
				<img src="assets/img/lessons/lessons1.png" alt="" class="transition" >
			</div>
			<h1 class="fvh4_8 ta_c mart15 marb15 wsn transition" >What is important in instagram </h1>
			<p class="fvh2_4 ta_l ta_c mart15 marb15 wsn transition" >
				The most important thing in Instagram is your subscribers!
				For them, you create content, share your thoughts,
				and if you are a business account holder,
				then they are your potential customer base.
			</p>
			</div>
			<h1 class="fvh4_8 ta_c mart15 marb15 wsn transition" ng-hide="!readmore">lesson {{$index+1}}</h1>
			</div>
		</div>
	</div>
<div class="w100 F_CBC">
	<h6 class="fvh1_5_3 ta_c mar20 marb5">{{scrolled+1}}/{{less_preview.length}} lessons</h6>
	<div class="lessons_dot_counter mart0 F_RAC  marb10 w100">
		<a ng-hide="less_preview.length == 2" ng-click="select(selected==0? 0 : selected - 1);">
			<img alt="" class="info " src="assets/img/back.png">
		</a>
		<div class="F_RCC">
			<a class="w50  mar10" ng-click="select($index);"  ng-repeat="x in less_preview">
				<div ng-class="{'active_dot': scrolled == $index}" class="dot_info  mar5"></div>
			</a>
		</div>
		<a ng-hide="less_preview.length == 2" ng-click="select(selected==less_preview.length-1? less_preview.length : selected + 1);">
			<img alt="" class="info reverse_img" src="assets/img/back.png">
		</a>
	</div>
	<!-- <div class="readmore_but" ng-class="{'reversY': !readmore}" ng-click="readmore = !readmore">
	</div> -->
	</div>
	<div class="boxscroll homex_scrool bottom_scrool_less lessons_title_scroll   w100 do-nicescroll4 "  ng-hide="!readmore">
		<div class="wrap less_mazafaka F_RSCNW transition w100 ">
			<div class="lesson_container  transition pad20 F_CCC w100"  ng-repeat="x in less_preview">

			<div class="wrapper_previev">

			<p class="fvh2_4 ta_l ta_c mart15 marb15 wsn transition" >
				The most important thing in Instagram is your subscribers!
				For them, you create content, share your thoughts,
				and if you are a business account holder,
				then they are your potential customer base.
			</p>
			</div>
			</div>
		</div>
	</div>
</div>
