<div class="lessons_wrapper" ng-controller="lessonsCtrl">
	<div class="lessons_header head_link F_RBC pad20">
		<a ng-click="goBack()">
			<img alt="" class="info " src="assets/img/back.png">

		</a>
		<div ng-click="drop = !drop" class="r">
			<div class="F_CCC info_button">
				<div ng-repeat="x in [0,1,2]" class="dot_info" ng-class="{'dot_line': drop}"></div>
			</div>
			<div class="dropdown" ng-hide="!drop">
				<ul class="list_n  fvh2_4">
					<li ng-click="goTo(info)" class="fcl_w fvh3_6 pad5">Info</li>
					<li ng-click="goTo(settings)" class="fcl_w fvh3_6 pad5">Settings</li>
					<li ng-click="goTo(about)" class="fcl_w fvh3_6 pad5">About us</li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	<img src="assets/img/hint.png" class="hint" alt="">
	<h1 class="fvh4_8 fcl_w padb0 padt0 pad20  mar10 marb0 mart0 ta_c">Lesson {{count_less}}</h1>
	<p class="fcl_w fvh2_4 pad20 padb0 mar10 marb0 ta_c about_lesson">Principle, highlighting its main, main and essential features.
		In a number of philosophical concepts - the intelligible
		and eternal prototype of reality. In the Russian philosophica
		dictionaries of the 18th century (see Antiochus Cantemir
		and Grigory Teplov), the idea came close to the concept.</p>
	<img src="assets/img/about_lesson.png" class="lesson_img" alt="">
	<div class="wave_liked1 "></div>
	<div class="wave_liked2"></div>
</div>
