<div class="liked_photos_wrapper fcl_w r" ng-controller="likedCtrl">
    <div class="head_link F_RBC pad20">
        <a ng-click="goBack()">
            <img alt="" class="info " src="assets/img/back.png">
        </a>
        <a class="fcl_w" href="#!card">
            GO PRO
        </a>
    </div>

    <div class="logo_wrapper_liked r">
        <img alt="logo" class="logo_img_liked"     width="100%" src="assets/img/logo_ico.png">
        <div class="heart-shape">
        </div>
    </div>
    <p class="fvh2_4 pad20 padb0 mar10 marb0 ta_c">
        View or dislike any post below in one click.

Liker has a built-in pornspam detection mechanism

 and automatically filters most unwanted content.
    </p>
    <h1 class="fvh3_6 pad20  mar10 marb0 mart0 ta_c">
        #Instagram
    </h1>
    <h3 class="fvh1_5_3 marb10 ta_c">
        {{d}}
    </h3>
    <div class="F_RSC r liked_photos_block">
        <div ng-repeat="x in liked_photos" ng-class="{'reverse_img':(count%5 == 0)-1}"  class="l_p ">
        </div>
        
    </div>
</div>

<div class="wave_liked1"></div>
<div class="wave_liked2"></div>
