<div class="F_CBC h600">
<h1 class="fvh4_8 ta_c fcl_w padt30">
    Welcome to the Liker  Assistant
</h1>
<p class="fvh2_4 ta_c fcl_w welcome_block">
    The application is intended for automated promotion of accounts
</p>
<div class=" F_CCC pad30">
    <h2 ng-click="a = !a" class="fvh2_4 ta_c nls c_p fcl_w">
        Access with privacy policy and accept its terms
    </h2>
    <div class="btn_pulse_bg_wave mart20 w50 ta_c fcl_w F_CCC ">
        I Accept
    </div>

    </div>
</div>

<div ng-hide="!a"  class="modal_cant_add_task">
    	<div class="close" ng-click="a = !a">
                 <div class="close_img"></div>
                </div>

    	<h1 class="pad25 mart40  ta_c fcl_w fvh4_8">Welcome to the {{APPNAME}}</h1>
    	<p class="ta_l fvh2_4 padt0 pad25">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, a pharetra augue.
Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.Integer posuere erat a ante venenatis dapibus Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.tesque ornare sem lacinia quam venenatis vestibulum. Nulla vitae elit libero, atraining
 pharetra augue. Donec id elit non mi porta gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Lorem idapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
</div>
