<div class="F_CBC h600" ng-controller="welcomeCtrl">
<h1 class="fvh4_8 ta_c fcl_w padt30">
    Welcome to the Liker  Assistant
</h1>
<p class="fvh2_4 ta_c fcl_w welcome_block">
    The application is intended for automated promotion of accounts
</p>
<div class=" F_CCC pad30">
    <h2 ng-click="a = !a" class="fvh2_4 ta_c nls c_p fcl_w">
        Access with privacy policy and accept its terms
    </h2>
    <div class="btn_pulse_bg_wave mart20 w50 ta_c fcl_w F_CCC " ng-click="acceptPrivacy()">
        I Accept
    </div>

    </div>
</div>

<div ng-hide="!a"  class="modal_cant_add_task">
    	<div class="close" ng-click="a = !a">
                 <div class="close_img"></div>
                </div>

    	<h1 class="pad25 mart40  ta_c fcl_w fvh4_8">Welcome to the {{APPNAME}}</h1>
    	<p class="ta_l fvh2_4 padt0 pad25">

        Privacy Policy of the "Liker -  Assistant" mobile application This Privacy Policy of the "Liker -  Assistant" application (hereinafter referred to as the Application) applies to all information that can be received about the user while using the application.
  			Using the application means the user's consent to this Policy and the terms of processing of his personal information, specified therein; In case of disagreement with these conditions, the user should refrain from using the application.
  			<br>
  			In the app, DO NOT buy, steal, wind up subscribers / likes, this application is designed to automate your work in promoting  account by choosing Target audience, setting the right settings, in your opinion, and launching the background task.
  			<br> 1. Personal information of users, which receives and processes the application "Liker -  Assistant"
  			<br>1.1. Personal information that the user provides about himself when registering (creating an account), when activating promotional codes or during the use of the application, including personal information of the user. Information is provided by the user at his discretion
  			<br>1.2. This Policy applies only to the "Liker -  Assistant" applica tion. "Liker -  Assistant" does not control and is not responsible for the information of third parties, to which the user can click on the links available in the application. On such sites, the user may collect or request other personal information, and other actions may be performed
  			<br>1.3. "Liker -  Assistant" in general does not verify the reliability of personal information provided by users, and does not exercise control over their legal capacity. However, "Liker -  Assistant" proceeds from the fact that the information transmitted to them from users is reliable
  			<br>2. Objectives of collecting and processing personal information of users
  			<br>2.1. The application collects and stores only those

  			Privacy Policy of the "Liker -  Assistant" mobile application not exercise control over their legal capacity. However, "Liker -  Assistant" proceeds from the fact that the information transmitted to them from users is reliable.
  			<br>2. Objectives of collecting and processing personal information of users
  			<br>2.1. The application collects and stores only those personal data that are required to provide the services that make up the application
  			<br>2.2. Personal information of the user of the application "Liker -  Assistant" can be used for the following purposes
  			<br>2.2.1. Identification of a party within the framework of agreements;
  			<br>2.2.2. Providing the user with personalized services;
  			<br>2.2.3. Communication with the user, including sending notifications, requests and information regarding the use of services, rendering services, as well as processing requests and applications from the user;
  			<br>2.2.4. Improve application quality, ease of use, development of new services and services;
  			<br>2.2.5. Conducting statistical and other studies based on impersonal data
  			<br>
  			<br>3. Measures used to protect the personal information of users.
  			<br>The "Liker -  Assistant" team takes necessary and sufficient organizational and technical measures to protect the users personal information from unauthorized or accidental access, destruction, modification, blocking, copying, distribution, as well as from other improper actions of third parties with it.
  			<br>
  			<br>4. Feedback.
  			<br>Questions and Suggestions Any suggestions or questions about this Policy should be reported to the "Liker -  Assistant" Customer Support Service (verbalike@gmail.com))

</p>
</div>
