@font-face {
  font-family: Kelson;
  src: url(../fonts/KelsonSansBold.otf);
}

@font-face {
  font-family: 'Sanchez';
  src: url(../fonts/Sanchez-Regular.ttf);
}

::selection {
  background: transparent;
}

::-moz-selection {
  background: transparent;
}

span:not(.tooltip) {
  transition: all .4s linear;
  white-space: nowrap;
}

textarea::placeholder {
  color: silver;
  opacity: 1;
}

textarea {
  resize: vertical;
  max-height: 200px;
  min-height: 100px;
}

::-webkit-scrollbar {
  display: none !important;
}

::-webkit-scrollbar-button {
  display: none !important;
}

* {
  -webkit-tap-highlight-color: transparent;
  font-family: Kelson !important;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.ng-enter {
  opacity: 1;
  transform: none;
}

.ng-leave {
  opacity: 0;
  transform: none;
}
body {
  background: #161c24;
  overflow: hidden;
  position: relative;
}

.page {
  display: flex;
  flex-flow: column;
}

#ng_viev {
  height: 100%;
}

p {
  text-align: center;
  color: #fff;
  letter-spacing: 0;
}

.close_img {
  width: 3vh;
  height: 3vh;
  background: url('../img/close.png') no-repeat;
  background-size: cover;
  cursor: pointer;
}

.header_simple {
  height: 60px;
}

.welcome_block {
  background: #1b232c;
  padding: 30px 20px;
  width: 95%;
  margin: 0 auto;
  box-sizing: border-box;
}

#enable_disable {
  background: #121921;
  width: 100%;
}

.progress {
  background: #141f28;
  height: 3.5vh;
  position: absolute;
  width: 100%;
}

.header_index {
  height: 20vh;
}

.content {
  height: 90vh !important;
  width: 100%;
  position: relative;
}

.hashtag, .feed, .followers, .following, .location {
  background-image: url(../img/hash.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 4vh;
  height: 4vh;
}

.feed {
  background-image: url(../img/feed.png);
}

.followers {
  background-image: url(../img/followers.png);
}

.location {
  background-image: url(../img/location.png);
}

.following {
  background-image: url(../img/following.png);
}

.progress_bar {
  position: relative;
  background: rgb(142, 47, 180);
  /* Old browsers */
  background: -moz-linear-gradient(left, rgba(142, 47, 180, 1) 0%, rgba(249, 42, 135, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(142, 47, 180, 1) 0%, rgba(249, 42, 135, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(142, 47, 180, 1) 0%, rgba(249, 42, 135, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e2fb4', endColorstr='#f92a87', GradientType=1);
  /* IE6-9 */
}

.progress .fvh2_4 {
  z-index: 3;
  text-shadow: -3px 3px 6px #000;
}

.progress_bar_animation {
  animation: pulse_inset 2s infinite;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  z-index: 1 background: -webkit-linear-gradient(right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.header .acc_photo {
  border-radius: 50%;
  height: 36px;
  width: 36px;
}

.homex_scrool {
  padding: 20px 0;
  white-space: nowrap;
  width: 100%;
  overflow-x: scroll;
}

.nicescroll-cursors {
  border: none !important;
}

.mart-15 {
  margin-top: -15px;
}

.plus_less {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 10px;
  background: rgba(52, 133, 214, 0.91);
  border-radius: 50%;
  cursor: pointer;
  transition: all .2s linear;
}

.plus_less2 {
  width: 100px;
  transition: all .2s linear;
  border-radius: 20px;
}

.plus_less2::after {
  content: 'BUY';
  position: absolute;
  font-size: 20px;
  left: 35px;
  top: 2px;
  transition: all 0.3s linear;
  color: #fff;
}

.hori, .vert {
  background: #ffffffde;
  width: 3px;
  height: 15px;
  position: absolute;
  top: 7px;
  border-radius: 1px;
  transition: all 0.3s linear;
  left: 13px;
}

.hori {
  width: 15px;
  height: 3px;
  top: 13px;
  left: 7px;
}

.hori_r, .vert_r {
  transform: rotateZ(90deg);
}

.home_less_cout {
  position: absolute;
  right: 9px;
  top: -5px;
}

.header {
  position: relative;
  width: 100%;
  padding: 20px;
  padding-bottom: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.ring_wrapper {
  position: absolute;
  top: 70%;
  right: 17px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.ring_wrapper>.ring {
  width: 22px;
  height: 25px;
  margin: 0 auto;
}

.help {
  background-image: url(../img/help.png) !important;
}

.no_photos {
  background: #1b232c;
  z-index: 3;
  position: absolute;
  left: 90px;
  height: 9vh;
  width: 230px;
}

.no_photos_img {
  background-image: url(../img/no_photos.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 5px;
}

.liked_photos_wrapper .no_photos {
  background: #1b232c;
  z-index: 3;
  position: absolute;
  left: calc(50% - 115px);
  height: 9vh;
  width: 230px;
  top: 50%;
  border-radius: 10px;
  left: 0;
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 20px 5px 0;
  height: 14vh;
}

.liked_photos_wrapper .no_photos_img {
  width: 70px;
  height: 70px;
  position: absolute;
  right: 0;
  margin: 20px;
  top: 0;
}

.header .logo_img {
  display: flex;
  height: 13vh;
  margin: 0 auto;
}

.home_lessons {
  display: inline-block;
}
.lesson_img_wrapper {
  box-shadow: 0 0 10px rgba(255,255,255,.5);
border-radius: 10px;
position: relative;
height: 40vh;
width: 35vh;
overflow: hidden;
}
.lesson_img_wrapper>img {
  width: 200%;
height: 100%;
left: -50%;
position: absolute;
}
.div_less_preview {
  background-image: url(../img/lessons/less1_preview.png);
  background-repeat: no-repeat;
  height: 25vh;
  width: 280px;
  background-size: cover;
  margin: 0 15px;
  box-shadow: 0px 0px 15px 0px #fff;
  border-radius: 20px;
}

.home_lessons>img {
  width: 100%;
  height: 100%;
}

.pulse {
  animation: pulse 2s infinite;
}

.red_scale {
  animation: bounceIn .2s linear;
  transform-origin: 0 100%;
}

.pulse_black {
  animation: pulse_black 2s infinite;
}

.btn_pulse_n_active {
  border: 1px solid rgba(255, 255, 255, .1);
  background-size: 400% 400%;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.btn_pulse_bg_wave {
  animation: pulse 2s infinite, Gradient 15s infinite;
  background: linear-gradient(-45deg, #0e53c2, #902465);
  background-size: 400% 400%;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.waves_pro {
  position: relative;
  width: 100%;
  height: 100%;
}

.waves_pro .wavepro1 {
  height: 100%;
  background: url(../img/prowave.png);
  animation: background_wave 400s linear infinite;
  background-size: 200%;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
}

.waves_pro .wavepro2 {
  height: 100%;
  background: url(../img/prowave2.png);
  animation: background_wave_back 400s linear infinite;
  top: 0;
  position: absolute;
  height: 20vh;
  width: 100vw;
  background-size: 200%;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
}

.info_width {
  width: 5px;
}

.info {
  height: 3vh;
}

.card_wrapper .header {
  height: 10vh;
}

.heshtag, .edit {
  width: 8vh;
  height: 8vh;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(66, 30, 57, 0.4);
  animation: pulse 2s infinite;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipse_img {
  position: absolute;
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  cursor: pointer;
}

.ellipse2_img {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
}

.hash_img, .edit_img {
  position: absolute;
  width: 2vh;
  height: 2vh;
}

.liked_wrapper {
  display: block;
  width: 100%;
  height: calc(20vh - 1px);
  z-index: 1;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.liked_wrapper .liked {
  width: 20vh;
  height: 20vh;
  background: #fff;
  display: inline-block;
  margin: 0 2px;
  background: url(../img/Mental.jpg);
  background-size: contain;
}

.add_btn {
  background: #1c242f;
  height: 10vh;
  box-sizing: border-box;
  cursor: pointer;
}

.add_btn.disabled {
  background: #606060;
}

.wave_wrapper {
  width: 100vw;
  height: 200px;
}

.wave_img3, .wave_img2, .wave_img1 {
  background-size: 296%;
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  background-repeat: no-repeat;
  background-repeat-x: repeat;
}

.wave_wrapper .wave_img3, .wave_wrapper .wave_img2, .wave_wrapper .wave_img1 {
  background-size: 539% 61%;
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  background-repeat: no-repeat;
  background-repeat-x: repeat;
}

.null {
  position: relative;
}

.wave_img1, .wave_img2, .wave_img3 {
  background-size: 456% 38%;
  position: absolute;
  height: 50vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-repeat-x: repeat;
}

.wave_img1 {
  background-image: url('../img/wave1.png');
}

.wave_img2 {
  background-image: url('../img/wave2.png');
}

.wave_img3 {
  background-image: url(../img/wave3.png);
}

.bwave {
  animation: background_wave 350s linear infinite;
}

.mwave {
  animation: background_wave_back 406s linear infinite;
}

.twave {
  animation: background_wave 400s linear infinite;
}

.footer_wave {
  width: 100vw;
  background: url(../img/wave3.png);
  background-size: 230%;
  background-attachment: fixed;
  height: 30%;
  background-repeat: repeat-x;
  position: absolute;
  background-position: 0 100%;
  bottom: 0;
  animation: background_wave_footer 400s linear infinite;
}

.wave_back_gradient {
  height: 20vh;
  z-index: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.logo_page {
  display: flex;
  position: absolute;
  bottom: 0
}

.white_logo {
  width: 7vh;
  height: 7vh;
  position: fixed;
  right: 10%;
  bottom: 5%;
}

.logo_page .wave_img {
  position: fixed;
}

.arrow_img {
  cursor: pointer;
  width: 50%;
}

.arrow_img_reverse {
  transform: rotateZ(180deg);
  transition: all .2s linear;
}

#edit_hash {
  box-sizing: border-box;
  border: none;
  width: 100%;
  border-radius: 10px;
  outline: none;
  background: #121921;
  padding: 15px;
}

.min_char {
  bottom: 10px;
  left: 10px;
}

.max_char {
  right: 10px;
  bottom: 10px;
}

.dot {
  background: #fa2a87;
  border-radius: 50%;
  width: 2vh;
  height: 2vh;
}

.select {
  padding: 0px 12px;
  box-sizing: border-box;
  display: flex;
  width: 95%;
  height: 9vh;
  background: #121921;
  background-repeat: no-repeat;
  background-position: right;
  -webkit-background-size: 8.8vh;
  background-size: 8.8vh;
  border-radius: 10px;
  margin: 15px auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: relative;
  transition: all .5 ease;
}

.select .options {
  border-radius: 10px;
  width: 100%;
  position: absolute;
  z-index: 9999;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0px 0px 10px 10px;
  border-top: 0px;
  top: 7vh;
  transform: scale(1) translateX(-1px);
}

.select .options.ng-hide {
  top: 0;
  transform: rotateX(90deg);
  transform-origin: 50% 0;
  color: #000;
  background: rgba(0, 0, 0, 0)
}

.options {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  left: 0;
  display: flex;
  flex-flow: column;
  position: relative;
  left: 0;
  background: #121921;
  color: #fff;
}

.options>a {
  padding: 5px 12px;
}

.options>a:hover {
  background: rgba(255, 255, 255, .1);
}

.select_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.small {
  height: .4vh;
}

.social {
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.social .soc {
  padding: 0 10px;
  cursor: pointer;
}

.link_to_git {
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

.info_head {
  padding: 20px;
}

.container_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 20vh;
}

.lds-roller {
  top: calc(50vh - 32px);
  left: calc(50vw - 32px);
}

.circle {
  width: 25px;
  visibility: hidden;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation: heartbeat 2s infinite;
  animation-delay: 0.1s
}

.card_wrapper {
  height: 100%;
}

.cover {
  display: flex;
  z-index: 3;
  outline: none;
  padding: 20px;
  margin-right: -200px;
}

.img {
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 100px;
  width: 160px;
  animation-timing-function: linear;
  border-radius: 10px;
  transition: all 0.3s linear;
  background-image: url(../img/card2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.card1 {
  background-image: url('../img/card1.png');
}
.card2 {
  background-image: url('../img/card2.png');
}

.card3 {
  background-image: url('../img/card3.png');
}

.atvImg .img:nth-child(1)::after, .atvImg .img:nth-child(2)::after, .atvImg .img:nth-child(3)::after {
  content: '';
  top: -20px;
  left: -40px;
  width: 20px;
  height: 130px;
  position: absolute;
  transform: rotateZ(20deg);
  transition: all .0s linear;
  z-index: 5;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(99%, rgba(128, 186, 232, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#007db9e8', GradientType=1);
}

.atvImg .img:nth-child(1):hover::after {
  transition: all .4s linear;
  left: 200px;
}

.atvImg .img:nth-child(2):hover::after {
  transition: all .4s linear;
  left: 200px;
}

.atvImg .img:nth-child(3):hover::after {
  transition: all .4s linear;
  left: 200px;
}

.btn {
  background: #121921;
  border-radius: 50px 0 0 50px;
  padding: 15px 40px;
  width: 25%;
  transition: all 0.4s ease-in;
  position: relative;
}

.hover_btn_pulse:hover {
  animation: pulse_for_btn 2s infinite;
}

.active_btn_pulse:active {
  animation: pulse_for_btn_active 0.5s;
}

.btn_routed:hover {
  z-index: 2222222;
  position: relative;
  transition: 0.3s ease-out;
  -moz-box-shadow: 0 0 0 1000px rgba(143, 40, 185, 1);
  box-shadow: 0 0 0 1000px rgba(143, 40, 185, 1);
}

.buttons_group {
  transition: all .4s linear
}

.buttons_group .btn:last-child {
  border-radius: 0 50px 50px 0;
  border-left: 0.4vh solid #ee2981;
}

.task_wrapper p {
  text-align: left;
}

.task_filter {
  position: relative;
  border: 1px solid rgba(255, 255, 255, .1);
  background: #141921;
  border-radius: 10px;
}

.points_img {
  position: fixed;
  top: 25vh;
  z-index: -1;
  background-attachment: fixed;
}

.status_dot {
  top: 5%;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  width: 1vh;
  height: 1vh;
  background: #fa2b86;
}

.ico_plus {
  height: 2vh;
}

.status {
  margin: 10px auto;
}

.task_wrapper {
  flex-flow: column;
  margin: 10px;
}

.task_wrapper .tasc_block {
  display: flex;
  height: 12vh;
  margin-bottom: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, rgba(96, 41, 121, 1) 20%, rgba(149, 39, 102, 1) 100%);
}

.edit_task {
  display: inline-block;
  background: #1c242f;
  height: 100%;
  width: 30%;
  box-shadow: 7px 0 10px rgba(0, 0, 0, .1);
}

.info_task {
  width: 70vw;
  box-sizing: border-box;
  padding: 5px 10px;
  text-overflow: ellipsis;
}

.getpro {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  height: 12vh;
  flex-flow: column;
  border-radius: 5px;
  background: linear-gradient(to right, #8e2465 0%, #0f52c1 100%);
}

.getpro_wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.pro_go {
  white-space: nowrap;
  z-index: 5;
  /* width: 64px; */
  text-align: center;
  position: relative;
  /* left: 37%; */
  background: linear-gradient(to right, #bb308f 0%, #7536ab 100%);
  border-radius: 20px;
  padding: 10px 20px;
  /* bottom: -20px; */
  top: 0;
  margin-top: -20px;
  color: white;
  width: 20vw;
}

.stars_pro {
  width: 30%;
  top: 10%;
  z-index: 2;
  left: 35%;
  position: absolute;
}

.cup_pro {
  top: 30%;
  width: 50%;
  z-index: 2;
  position: absolute;
  left: 25%;
}

.gradient_purple {
  background: linear-gradient(-45deg, #0e53c2, #902465);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

.wave_bg {
  width: 100%;
  background: url(../img/wave2.png);
  background-repeat: repeat-x;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: background_wave 500s linear infinite;
}

.wave_bg1 {
  width: 100%;
  background: url(../img/wave1.png);
  background-repeat: repeat-x;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: background_wave 450s linear infinite -4s;
}

.getpro .wave_bg {
  background-repeat: repeat-x;
  background-size: 200%;
  animation: background_wave 300s linear infinite;
}

.pro_img {
  position: absolute;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  z-index: 2;
}

.logo_pro_img {
  position: absolute;
  height: 70%;
  top: 15%;
}

.reverse {
  transform: rotateX(180deg);
  position: absolute;
  top: 50vh;
}

.reverse_img {
  transform: rotateY(180deg);
}

.card_wrapper .wawes_2 img, .card_wrapper .wawes_1 img {
  height: 20vh;
  width: 200vw;
}

.card_wrapper .header {
  z-index: 3;
}

.plus {
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 30px;
}

.ext {
  height: 100vh;
}

.ext_btn {
  border-radius: 20px;
  white-space: nowrap;
  letter-spacing: 0.5px;
  width: 50%;
  margin: 0 auto;
  background: -moz-linear-gradient(left, rgba(142, 47, 180, 1) 0%, rgba(249, 42, 135, 1) 100%);
  background: -webkit-linear-gradient(left, rgba(142, 47, 180, 1) 0%, rgba(249, 42, 135, 1) 100%);
  background: linear-gradient(to right, rgba(142, 47, 180, 1) 0%, rgba(249, 42, 135, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8e2fb4', endColorstr='#f92a87', GradientType=1);
}

.verblike_tree {
  background-image: url(../img/tree.svg);
  width: 260px;
  height: 260px;
}

.info_verblike {
  font-family: 'Sanchez', sans-serif !important;
  font-size: 50px;
  margin: 20px 0;
}

.info_we {
  font-family: 'Sanchez', sans-serif !important;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 20px;
}

.star {
  background-image: url('../img/star.png');
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: cover;
}

.star:last-child {
  background-image: url('../img/star_no.png');
}

.feedback_wrapper .ring_wrapper {
  top: 10px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.homex_scrool .nicescroll-cursors {
  background-color: rgba(250, 42, 135, .5) !important;
}

.app_store, .play_market {
  background: #9f2ead;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px 10px;
}

.app_store span, .play_market span {
  font-family: sans-serif !important;
}

.app_store:hover, .play_market:hover {
  background: #b12bc2;
  cursor: pointer;
}

.apple {
  background-image: url('../img/apple.png');
  width: 32px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px 10px;
}

.play {
  background-image: url('../img/play.png');
  width: 32px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5px 10px;
}

.ring {
  top: -10px;
  background-image: url('../img/ring.png');
  width: 32px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.feedback_wrapper .close {
  position: absolute;
}

.feedback {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background: #1b232c;
}

.close {
  position: fixed;
  top: 6%;
  right: 10%;
  width: 20px;
  height: 20px;
  /* background: red; */
}

.close svg {
  width: 100%;
  height: 100%;
  background: none;
}

.content_card {
  display: flex;
  flex-flow: column;
  background: #141921;
  z-index: 2;
}

.about_plus {
  box-sizing: border-box;
  line-height: 25px;
  margin: 50px 20px;
  z-index: 3;
}

.about_plus2 {
  position: absolute;
  top: 70vh;
  width: 100%;
  box-sizing: border-box;
  line-height: 25px;
  margin: 0;
  padding: 0 20px;
  z-index: 2;
}

.about_plus3 {
  top: 90vh;
  position: absolute;
  width: 100%;
  line-height: 25px;
  z-index: 1;
  padding: 0 20px;
  box-sizing: border-box;
}

.z_index {
  z-index: 0;
}

.info_wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column;
  background: url(../img/info_bg.png) no-repeat 50%;
  background-size: contain;
  background-attachment: fixed;
  background-position: 0 35vh;
}

.licens {
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
}

.info_cont_wrapper {
  height: 100%;
}

.onoffswitch .info_wrapper .btn {
  border-radius: 0 20px 20px 0;
  background: #121921;
  width: 15vw;
  margin-left: -1px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.soc_label {
  display: none;
}

.auth_wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../img/bg_logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
.auth_wrapper .logo_auth_img .logo_wrapper {
  position: relative;
  width: auto;
}
.logo_auth_img {
  margin: 30% auto 10% auto;
}

.logo_auth_img img {
  height: 20vh;
}

.auth_wrapper button {
  border: none;
  outline: none;
  width: 200px;
  padding: 10px;
}

.auth_form {
  position: relative;
}

.input__field {
  border: none;
  width: 100%;
  padding: 10px 40px;
  box-sizing: border-box;
  margin: 30px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
  color: white;
  outline: none;
  background: none;
}

.input_wrapper {
  position: relative;
}

.input_ico {
  position: absolute;
  top: 35px;
  left: 15px;
  width: 8%;
}

.form .input_wrapper .eye {
  left: 90%;
  top: 42px;
  width: 10%;
  cursor: pointer;
}

button {
  font-family: Kelson;
}

.task_wrapper .onoffswitch-inner:after, .task_wrapper .onoffswitch-inner:before {
  font-size: 0;
}

.task_wrapper .onoffswitch {
  width: 70px;
}

.task_wrapper .onoffswitch-switch {
  right: 45px;
}

.setting_img {
  top: calc(50% - 15px);
  left: calc(100% - 45px);
  width: 30px;
  height: 30px;
}

.lessons_block {
  width: 95%;
  height: 25vh;
  margin: 0 auto;
  display: flex;
}

.header_shadow {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 20vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}

.pro_img_header {
  top: calc(50% - 20px);
  left: 2vh;
  width: 40px;
  height: 40px;
}

.tips_wrapper {
  animation: tips 15s ease infinite;
}

.tips_wrapper {
  height: 24vh;
  width: 400vw;
  display: flex;
}

.tips_wrapper .cover {
  top: 0;
}

.heart-shape, .heart-shape:before, .heart-shape:after {
  width: 20px;
  height: 20px;
}

#heart {
  position: absolute;
  top: 40%;
  right: 26%;
  animation: heartbeat 1s infinite;
  margin: 0 auto;
}

#heart:before, #heart:after {
  position: absolute;
  content: "";
  left: 25px;
  top: 0;
  width: 26px;
  height: 40px;
  background: #f55fa7;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.auth_wrapper #heart {
  top: -1%;
  right: 18%;
}

.tip {
  overflow: hidden;
  background: #1b232c;
  width: 256px;
  min-width: 256px;
  height: 150px;
  box-sizing: border-box;
  margin: 10px 15px;
  border-radius: 10px;
  display: inline-block;
  white-space: nowrap;
}

.tips_wrapper .tip:nth-child(2) .wavepro1 {
  animation: background_wave 400s linear infinite -2.5s;
}

.tips_wrapper .tip:nth-child(3) .wavepro1 {
  animation: background_wave 400s linear infinite -5s;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.onoffswitch {
  position: relative;
  width: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 200%;
  font-size: 13px;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  letter-spacing: 0;
  content: "Enabled";
  padding-left: 17px;
  background-color: #121921;
  color: #fff;
}

.onoffswitch-inner:after {
  content: "Disabled";
  letter-spacing: 0;
  padding-right: 17px;
  background-color: #121921;
  color: #fff;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 25px;
  height: 25px;
  margin: 2px;
  background: #A1A1A1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 72px;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  background-size: 130%;
  top: -3px;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background: url(../img/ok.png);
  background-position: -4px -4px;
  background-repeat: no-repeat;
  background-size: 130%;
  top: -3px;
}

.page-home.ng-enter {
  -webkit-transform-origin: 0% 0%;
  -webkit-animation: 0.2s both ease-in;
  -moz-transform-origin: 0% 0%;
  -moz-animation: circle 0.2s both ease-in;
  transform-origin: 0% 0%;
  animation: circle 0.2s both ease-in;
}

.back {
  border-radius: 0 50px 50px 0;
  align-self: flex-start;
  cursor: pointer;
}

.liked_photos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.l_p {
  width: 22%;
  height: auto;
  margin: 5px;
  background-size: cover;
  transition: all .5s linear;
}

.l_p>img {
  width: 100%;
  height: 100%;
}

/*.reverse_img{
    transform: rotateZ(45deg);
}*/
.l_p:first-child {
  animation: unshift .5s linear;
}

.l_p:nth-child(4n+5) {
  animation: unshift_fifth .5s linear;
}

.was_liked {
  animation: was_liked 1s linear infinite;
}
.logo_img{
  height: 100%;
}
.logo_wrapper_liked {
  display: flex;
  width: 25vh;
  height: 20vh;
  position: relative;
  justify-content: center;
  margin: 40px auto;
}

.logo_wrapper {
  transform: translateY(0);
  margin: 0 auto;
  left: 0;
  width: 100vw;
  position: absolute;
  height: 13vh;
  opacity: 1;
}
.header_path{
      left: calc(50% - 15%);
      opacity: 1;
}
.logo_wrapper.ng-hide,.header_path.ng-hide {
  transform: translateY(-9vh);
  margin: 0 auto;
  left: 0;
  width: 100vw;
  height: 13vh;
  opacity: 0;
}

.logo_wrapper.ng-hide .logo_img {
  height: 100%;
  margin: 0 auto;
}

.liked_photos_wrapper {
  background: url(../img/liked_wave.png);
  background-size: cover;
  background-attachment: fixed;
  animation: background_wave 500s linear;
  background-repeat: no-repeat;
}

.wave_liked1 {
  position: fixed;
  width: 100vw;
  z-index: -1;
  min-height: 100vh;
  bottom: 0;
  left: 0;
  background: url(../img/liked_wave.png);
  background-size: cover;
  animation: background_wave_back 600s linear;
}

.wave_liked2 {
  position: fixed;
  width: 100vw;
  z-index: -1;
  min-height: 100vh;
  bottom: 0;
  left: 0;
  background: url(../img/liked_wave.png);
  background-size: cover;
  animation: background_wave 550s linear;
}

.liked_photos_wrapper .heart-shape {
  top: 8%;
  left: 83%;
}

.lessons_block .getpro {
  height: 100%;
}

.lessons_text {
  z-index: 6;
}

.lessons_text1 {
  z-index: 6;
}

.lessons_block .cup_pro {
  top: 25%;
  width: 40%;
  z-index: 2;
  position: absolute;
  left: 50%;
}

.lessons_block .stars_pro {
  width: 30%;
  top: 10%;
  z-index: 2;
  left: 55%;
  position: absolute;
}

.lessons_block .lessons_text {
  width: 50%;
  top: 25%;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.lessons_block .lessons_text1 {
  width: 50%;
  text-align: center;
  top: 45%;
  position: absolute;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.lessons_block .pro_go_1 {
  white-space: nowrap;
  z-index: 5;
  text-align: center;
  bottom: 10%;
  left: 12%;
  position: absolute;
  background: linear-gradient(to right, #9538d2 0%, #f95783 100%);
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  width: 20vw;
}

.hint {
  position: relative;
  left: calc(50% - 52px);
  top: -20px;
}

.list_wrapper {
  height: 100vh;
}

.list_wrapper .wrap {
  width: auto;
  overflow: hidden;
  display: inline-block;
}

.list_wrapper {
  transition: all .2s linear;
}

.readmore {
  transform: translateY(-50vh);
  transition: all .2s linear;
  position: relative;
}

.reversY {
  transition: all .2s linear;
  transform: rotateZ(180deg) translateY(80px);
}

.readmore_but {
  transition: all .2s linear;
  border: 10px solid transparent;
  border-top: 10px solid #767f89;
}

.boxscroll_lessons {
  margin-top: 200px;
}

.readmore_but:hover {
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
}

.list_wrapper .wrap .lesson_container {
  width: 100vw;
  box-sizing: border-box;
  display: inline-block;
}

.transition {
  transition: all .2s linear;
}
.transition_back.ng-hide{
  transform: translateY(-9vh);
}
.transition_back{
    transition: all .2s linear;
}
.info_header{
  position: absolute;

    transition: all .2s linear;
  transition:
  left: 20px;
}
.droper{
  position: absolute;
    right: 20px;
}

.info_button {
  height: 22px;
  z-index: 9;
  position: relative;
  width: 22px;
  justify-content: space-between !important;
  cursor: pointer;
}

.dot_info {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
  transition: all .2s linear;
}

.purchase {
  z-index: 2;
  text-transform: uppercase;
  color: #ffffff;
  font-family: sans-serif !important;
  border-radius: 10px !important;
  position: relative;
  overflow: hidden;
}

.purchase::after {
  content: '';
  top: -10px;
  left: -50px;
  width: 20px;
  height: 150px;
  position: absolute;
  transform: rotateZ(20deg);
  z-index: 5;
  transition: .4s;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(99%, rgba(128, 186, 232, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(128, 186, 232, 0) 99%, rgba(125, 185, 232, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#007db9e8', GradientType=1);
}

.purchase:hover::after {
  left: 200px;
}

.purchase>span {
  font-weight: bold;
}

.cover_wrapper {
  display: flex;
  position: relative;
  box-sizing: border-box;
}
.purchase.btn_pulse_bg_wave{
  animation: Gradient 15s infinite;
}
/* Styles for home_modal */
.modal_cant_add_task {
  position: fixed;
  z-index: 100;
  background: black;
  transition: all .5s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal_drop{
  position: fixed;
  z-index: 1;
  background: rgba(0,0,0,.1);
  transition: all .5s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.modal_drop.ng-hide{
  transform: none;
  transition: none;
}

.in_block {
  width: auto;
  vertical-align: middle;
  height: 18px;
}

.number_animation {
  transition: all .5s;
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  padding: 0 5px;
}

.translate25px {
  animation: number_translate_top 0.5s linear;
}

.translate0px {
  animation: number_translate 0.5s linear;
}

.modal_cant_add_task .getpro {
  width: 90vw;
  height: 35vh;
}

.modal_cant_add_task .getpro .wave_bg {
  background-size: 400%;
}

.modal_cant_add_task .pro_go {
  width: 30vw;
}

/* home page */
.bottom_liked {
  background: url('../img/falling_hearts.gif');
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  bottom: 0
}

.bottom_liked .wave_bg {
  background-size: 399% 62%;
}

.dropdown.ng-hide {
  transform: scale(0);
  opacity: 0;
  transform-origin: 100% 0;
}

.dropdown {
  z-index: 15;
  position: absolute;
  left: calc(100% - 215px);
  top: -5px;
  background: #1c242f;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all .2s linear;
  transform: scaleX(1);
  overflow: hidden;
}

.dropdown ul>li {
  padding: 20px 0 20px 50px;
  width: 190px;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.dropdown ul>li::before {
  content: '';
  background: url(../img/info.png) no-repeat;
  position: absolute;
  background-size: 24px;
  width: 26px;
  height: 26px;
  top: 18px;
  left: 18px;
}

.dropdown ul>li:nth-child(3)::before {
  content: '';
  background: url(../img/sett.png) no-repeat;
  position: absolute;
  background-size: 24px;
  width: 26px;
  height: 26px;
  top: 18px;
  left: 18px;
}

.dropdown ul>li:nth-child(2)::before {
  content: '';
  background: url(../img/acc.png) no-repeat;
  position: absolute;
  background-size: 24px;
  width: 26px;
  height: 26px;
  top: 18px;
  left: 18px;
}

.dropdown ul>li:last-child::before {
  content: '';
  background: url(../img/logout.png) no-repeat;
  position: absolute;
  background-size: 24px;
  width: 26px;
  height: 26px;
  top: 18px;
  left: 18px;
}

.dropdown ul>li:hover {
  background: rgba(255, 255, 255, .1);
}

.drop_pro {
  left: 88%;
  top: 42%;
}

.dot_line {
  transition: all .2s linear;
  width: 20px;
  border-radius: 20%;
}

.firs_like_wrapper {
  width: 11vh;
  height: 10vh;
  z-index: 5;
  background: #1b232c;
  cursor: pointer;
  margin: 0 0 0 -5px;
}

.firs_like {
  background: url(../img/heart.png) no-repeat;
  width: 55px;
  height: 55px;
  background-size: 50%;
  background-position: 50%;
}

.l_b_p>img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.l_b_p {
  width: 55px;
  height: 55px;
  background: red;
  z-index: 2;
}

.l_b_p {
  transition: all .5s linear;
  background: url('../img/logo.png');
  /* animation: unshift_for_home .5s linear; */
}


/*settings css*/
.interval_svaper {
  background-color: #121921;
  border-radius: 50px;
  width: 100px;
  height: 30px;
}

.minus_interval, .plus_interval {
  background: url(../img/minus_interval.png) no-repeat;
  width: 4vh;
  background-size: 50%;
  background-position: 25%;
  height: 4vh;
  cursor: pointer;
}

.active_dot {
  background: #f95783;
}

.plus_interval {
  transform: rotateY(180deg);
}

.welcome_block .onoffswitch-inner:before, .welcome_block .onoffswitch-inner:after {
  font-size: 0;
}

.welcome_block .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background: url(../img/ok.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-size: 100%;
  top: 0px;
}

.welcome_block .onoffswitch-switch {
  display: block;
  width: 45px;
  height: 45px;
  margin: 2px;
  background: #A1A1A1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 72px;
  border-radius: 50px;
  transition: all 0.3s ease-in 0s;
  background-position: -4px -4px;
  background-repeat: no-repeat;
  background-size: 130%;
}

.welcome_block .onoffswitch-inner:before, .welcome_block .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 50px;
  padding: 0;
  line-height: 100%;
  color: white;
  font-weight: bold;
  box-sizing: border-box;
}

.welcome_block .onoffswitch {
  width: 120px;
}

.tooltip {
  width: 40px;
}

input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  height: 10px;
  width: 95%;
  margin: 0;
  box-sizing: border-box;
  border: none;
  padding: 1px 2px;
  border-radius: 50px;
  background: #121921;
  box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
  outline: none;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent;
  /* don't drawn vertical reference line */
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 50%;
  background: #fa2a87;
}

input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 18px;
  border: none;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
  /* W3C */
}

input[type="range"]::-ms-thumb {
  width: 40px;
  height: 18px;
  border-radius: 12px;
  border: 0;
  background-image: linear-gradient(to bottom, #529de1 0, #245e8f 100%);
  /* W3C */
}

/*----------------------------------------------------------------------------------------------------*/
@media screen and (orientation:landscape) and (max-height: 1000px) {
  .edit_wrapper .progress {
    height: 1.2vh;
  }

  .logo_auth_img {
    margin: 10% auto 10% auto
  }

  .modal_cant_add_task .getpro .stars_pro {
    width: 17%;
    top: 28%;
    z-index: 2;
    left: 41%;
    position: absolute;
  }

  .modal_cant_add_task .getpro .cup_pro {
    top: 39%;
    width: 25%;
    z-index: 2;
    position: absolute;
    left: 37%;
  }

  .modal_cant_add_task .getpro .wave_bg {
    background-size: 200%;
  }

  .modal_cant_add_task .getpro {
    height: 60vh;
  }

  .index_wrapper {
    height: 138vh;
  }

  .lessons_wrapper .wave_liked1, .lessons_wrapper .wave_liked2 {
    height: 250vh;
  }

  .getpro .wave_bg {
    background-size: 120%;
  }

  .ext {
    height: 200vh;
  }

  .wave_wrapper .wave_img1, .wave_wrapper .wave_img2, .wave_wrapper .wave_img3 {
    height: 100vh;
  }

  .logo_auth_img img {
    height: 40vh;
  }

  .auth_wrapper #heart {
    top: -1%;
    right: 30%;
  }

  .wave_img1, .wave_img2, .wave_img3 {
    background-size: 250%;
    position: absolute;
    height: 100vh;
  }

  .reverse {
    transform: rotateX(180deg);
    height: 100vh;
    position: absolute;
    top: 49%;
  }

  .lessons_block {
    height: 50vh;
  }

  .logo_wrapper_liked {
    width: 50vh;
    height: 40vh;
    left: calc(50% - 25vh);
  }

  .logo_img {
    height: 40vh;
  }

  #heart {
    top: -5%;
  }

  .tips_wrapper {
    height: 48vh;
  }

  .waves_pro .wavepro2 {
    height: 40vh;
  }

  .getpro {
    height: 24vh;
  }

  .hash {
    width: 8vh;
    height: 8vh;
  }

  .header .logo_img {
    display: flex;
    height: 26vh;
    margin-top: 0vh;
  }

  .soc_label {
    display: inline;
  }

  .info_wrapper {
    background: url(../img/info_bg.png) no-repeat;
  }

  .licens {
    bottom: -30vh;
  }

  .info_wrapper {
    height: 200vh;
    background-size: cover;
    background-attachment: fixed;
  }

  .about_plus2 {
    top: 140vh;
  }

  .about_plus3 {
    top: 180vh;
  }

  .content_card {
    height: 170vh;
  }

  .card_wrapper .header {
    height: 20vh;
  }

  .card_wrapper .wawes_2 img, .card_wrapper .wawes_1 img {
    height: 40vh;
    width: 200vw;
  }

  .card_wrapper .wawes_1, .card_wrapper .wawes_2 {
    top: 100vh;
  }

  .task_wrapper .tasc_block {
    height: 24vh;
  }

  .options {
    top: 18vh;
  }

  .status_dot {
    height: 2vh;
    width: 2vh;
  }

  .white_logo {
    width: 14vh;
    height: 14vh;
  }

  .arrow_img {
    width: 4vh;
    position: absolute;
    height: 4vh;
  }

  .select {
    height: 18vh;
    -webkit-background-size: 17.6vh;
    background-size: 17.6vh;
  }

  .liked_wrapper {
    height: 40vh
  }

  .liked_wrapper .liked {
    width: 40vh;
    height: 40vh;
  }

  .header {
    height: 100%;
  }

  .info {
    height: 6vh;
  }

  .wave_wrapper {
    height: 30vh;
  }

  .liked_wrapper .last_wave {
    position: absolute;
    left: 0;
    height: 30vh;
    bottom: 0;
  }

  .wave_img {
    height: 40vh;
  }

  .footer_wave {
    background-attachment: local;
    background-size: 150%;
  }

  .logo_img {
    height: 10vh;
  }

  .flex .logo_img {
    display: none;
  }

  .heshtag, .edit {
    width: 16vh;
    height: 16vh;
  }

  .hash_img, .edit_img {
    width: 4vh;
    height: 4vh;
  }

  .ico_plus {
    height: 4vh;
  }

  .add_btn {
    height: 20vh;
  }

  .close_img {
    width: 6vh;
    height: 6vh;
  }
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
  background: #912fb3;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
  background: #912fb3;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
  background: #c82c9c;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
  background: #c82c9c;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
  background: #e22a86;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
  background: #e22a86;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
  background: #fa2a87;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
  background: #fa2a87;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
