/*FRAMEWORK FOR MOBILE PHONES BUILDED ON CORDOVA*/
h1,h2,h3,h4,h5,h6, p{
    margin: 0px;
    padding: 0px;
}
body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.l_s0{
    letter-spacing: 0px;
}
.ng-hide {
  opacity: 0;
  transform: translateY(9vh);
  transform-origin: 50% 0%;
}
.ng-show {


}
.h0{
  height: 0px !important;
    padding: 0 !important;
}
.h20vh{
  height: 20vh;
}
.h50vh{
  height: 50vh;
}
.h200vh{
  height: 200vh !important;
}
.h100vh{
  height: 100vh;
}
.mh100vh{
  min-height: 100vh;
}
.wsn{
  white-space: normal;
}
.left0{
  left: 0;
}
.top0{
  top: 0;
}
.right0{
  right: 0;
}
.bottom0{
  bottom: 0;
}
.purple_cl{
  color: #fa2a87;
}
.c_p{
  cursor: pointer;
}
.o_h{
    overflow: hidden;
}
.list_n{
  list-style: none;
  margin: 0;
  padding: 0;
}
.in_block{
    display: inline-block;
}
.bb{
  box-sizing: border-box;
}
.r{
    position: relative;
}
.a{
    position: absolute;
}
.f{
    position: fixed;
}
.nls{
    letter-spacing: normal;
}
.ta_c{
text-align: center;
}
.ta_l{
text-align: left;
}
.ta_r{
text-align: right;
}
.tov_el{
  overflow: hidden;
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
}
.h600{
  height: 600px;
}
.F_RBS{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: stretch;
}
.F_RSC{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.F_RAC{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
}
.F_RCC {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

}
.F_CBC{
         display: flex;
    flex-flow: column;
        justify-content: space-between;
    align-items: center;
}
.F_RBC{
         display: flex;
    flex-flow: row;
        justify-content: space-between;
    align-items: center;
}
.F_CAC{
        display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

}
.F_RACNW{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: space-around;
}
.F_RSCNW {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.F_CCC{
     display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.F_CCS{
  display: flex;
 flex-flow: column;
 justify-content: center;
}

.fcl_w {
    color: #fff;
}

.br_r20{
    border-radius: 20px;
}
/*------------font-size-----------------*/

.fvh1_2 {
    font-size: 1vh;
}
.fvh1_5_3{
    font-size: 1.5vh;
}
.fvh2_4 {
    font-size: 2vh ;
}
.fvh3_6 {
    font-size: 3vh ;
}
.fvh4_8 {
    font-size: 4vh ;
}
.fvh5_10 {
    font-size: 5vh ;
}
.fvh6_12 {
    font-size: 6vh ;
}
.fvh7_14 {
    font-size: 7vh ;
}
.fvh8_16 {
    font-size: 8vh ;
}
/*------------font-size-----------------*/
.w30m0{
  width: 30%;
  margin: 0;
}

/*------------margin-----------------*/
.mart0{
    margin-top: 0 !important;
}
.marb0{
    margin-bottom: 0 !important;
}
.marl0{
    margin-left:  0 !important;
}
.marr0{
    margin-right:  0 !important;
}
.mar5{
    margin:5px;
}
.mar10{
    margin:10px;
}
.mar15{
    margin:15px;
}
.mar20{
    margin:20px;
}
.mar25{
    margin:25px;
}
.mart5{
    margin-top: 5px !important;
}
.mart10{
    margin-top: 10px !important;
}
.mart15{
    margin-top: 15px !important;
}
.mart20{
    margin-top: 20px !important;
}
.mart25{
    margin-top: 25px !important;
}
.mart30{
    margin-top: 30px !important;
}
.mart35{
    margin-top: 35px !important;
}
.mart40{
    margin-top: 40px !important;
}
.marb5{
    margin-bottom: 5px !important;
}
.marb10{
    margin-bottom: 10px !important;
}
.marb15{
    margin-bottom: 15px !important;
}
.marb20{
    margin-bottom: 20px !important;
}
.marb25{
    margin-bottom: 25px !important;
}
.marb30{
    margin-bottom: 30px !important;
}
.marb35{
    margin-bottom: 35px !important;
}
.marb40{
    margin-bottom: 40px !important;
}
.marr5{
    margin-right: 5px !important;
}
.marr7{
    margin-right: 7px !important;
}
.marr10{
    margin-right: 10px !important;
}
.marr15{
    margin-right: 15px !important;
}
.marr20{
    margin-right: 20px !important;
}
.marr25{
    margin-right: 25px !important;
}
.marr30{
    margin-right: 30px !important;
}
.marr35{
    margin-right: 35px !important;
}
.marr40{
    margin-right: 40px !important;
}
.marl5{
    margin-left: 5px !important;
}
.marl10{
    margin-left: 10px !important;
}
.marl15{
    margin-left: 15px !important;
}
.marl20{
    margin-left: 20px !important;
}
.marl25{
    margin-left: 25px !important;
}
.marl30{
    margin-left: 30px !important;
}
.marl35{
    margin-left: 35px !important;
}
.marl40{
    margin-left: 40px !important;
}
/*------------margin-----------------*/
/*------------padding-----------------*/
.pad5{
    padding: 5px;
}
.pad10{
    padding: 10px;
}
.pad15{
    padding: 15px;
}
.pad20{
    padding: 20px;
}
.pad25{
    padding: 25px;
}
.pad30{
    padding: 30px;
}
.padt0{
    padding-top: 0 !important;
}
.padb0{
    padding-bottom: 0 !important;
}
.padl0{
    padding-left:  0 !important;
}
.padr0{
    padding-right:  0 !important;
}
.padt5{
    padding-top: 5px !important;
}
.padt10{
    padding-top: 10px !important;
}
.padt15{
    padding-top: 15px !important;
}
.padt20{
    padding-top: 20px !important;
}
.padt25{
    padding-top: 25px !important;
}
.padt30{
    padding-top: 30px !important;
}
.padb5{
    padding-bottom:  5px !important;
}
.padb10{
    padding-bottom:  10px !important;
}
.padb15{
    padding-bottom:  15px !important;
}
.padb20{
    padding-bottom:  20px !important;
}
.padb25{
    padding-bottom:  25px !important;
}
.padb30{
    padding-bottom:  30px !important;
}
.padb70{
  padding-bottom: 70px;
}
.padb140{
  padding-bottom: 140px;
}
.padr5{
    padding-right: 5px !important;
}
.padr10{
    padding-right: 10px !important;
}
.padr15{
    padding-right: 15px !important;
}
.padr20{
    padding-right: 20px !important;
}
.padr25{
    padding-right: 25px !important;
}
.padr30{
    padding-right: 30px !important;
}
.padl5{
    padding-left: 5px !important;
}
.padl10{
    padding-left: 10px !important;
}
.padl15{
    padding-left: 15px !important;
}
.padl20{
    padding-left: 20px !important;
}
.padl25{
    padding-left: 25px !important;
}
.padl30{
    padding-left: 30px !important;
}
/*------------padding-----------------*/
/*------------width-----------------*/
.w100{
    width: 100%;
}
.w90{
    width: 90%;
    margin: 0 auto;
}
.w80{
    width: 80%;
    margin: 0 auto;
}
.w70{
    width: 70%;
    margin: 0 auto;
}
.w60{
    width: 60%;
    margin: 0 auto;
}
.w50{
    width: 50%;
    margin: 0 auto;
}
.w40{
    width: 40%;
    margin: 0 auto;
}
.w30{
    width: 30%;
    margin: 0 auto;
}
.w20{
    width: 20%;
    margin: 0 auto;
}
.w10{
    width: 10%;
    margin: 0 auto;
}
.w5{
    width: 5%;
    margin: 0 auto;
}
.w100{
    width: 100%;
}
.w95{
    width: 95%;
    margin: 0 auto;
}
.w85{
    width: 85%;
    margin: 0 auto;
}
.w75{
    width: 75%;
    margin: 0 auto;
}
.w65{
    width: 65%;
    margin: 0 auto;
}
.w55{
    width: 55%;
    margin: 0 auto;
}
.w45{
    width: 45%;
    margin: 0 auto;
}
.w35{
    width: 35%;
    margin: 0 auto;
}
.w25{
    width: 25%;
    margin: 0 auto;
}
.w15{
    width: 15%;
    margin: 0 auto;
}

.h100{
  height: 100%;
}

.z1{
  z-index: 1;
}
.z2{
  z-index: 2;
}
.z3{
  z-index: 3;
}
.z4{
  z-index: 4;
}
.z5{
  z-index: 5;
}
.z6{
  z-index: 6;
}
.z7{
  z-index: 7;
}
.z8{
  z-index: 8;
}
.z9{
  z-index: 9;
}
.z10{
  z-index: 10;
}
.z999{
  z-index: 9999999;
}

/*------------width-----------------*/
@media screen and (orientation:landscape) and (max-height: 1000px) {
body{
    min-height: 200vh;
}
/*------------font-size-----------------*/

.fvh1_2 {
    font-size: 2vh;
}
.fvh1_5_3{
    font-size: 3vh;
}
.fvh2_4 {
    font-size: 4vh ;
}
.fvh3_6 {
    font-size: 6vh ;
}
.fvh4_8 {
    font-size: 8vh ;
}
.fvh5_10 {
    font-size: 10vh ;
}
.fvh6_12 {
    font-size: 12vh ;
}
.fvh7_14 {
    font-size: 14vh ;
}
.fvh8_16 {
    font-size: 16vh ;
}
/*------------font-size-----------------*/

}
